---
import DarkModeToggle from "./DarkModeToggle.astro";
import Nav from "./Nav.astro";
---

<header>
  <a
    class="unset absolute z-10 left-[50%] -top-[100rem] translate-x-[-50%] bg-white text-black px-8 py-2 focus:top-[initial]"
    href="#main"
  >
  </a>
  
  <Nav/>
  
  <div
    class="max-[350px]:hidden justify-self-end py-2 flex items-center content-center text-text-bold"
  >
    <a
      class="unset text-xl ml-4 rounded-sm hover:text-text-link"
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.linkedin.com/in/marco-garujo-16a50a14a/"
    >
    <i class="fa-brands fa-linkedin-in" title="My Linkedin Link"></i>
    <span class="fa-sr-only">My LinkedIn</span>
    </a>

    <a
      class="unset text-xl ml-4 hover:text-text-link"
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/MarcoCangela"
    >
      <i class="fa-brands fa-github" aria-hidden="true" title="My GitHub"></i>
      <span class="fa-sr-only">My GitHub</span>
    </a>
  </div>

  <DarkModeToggle />
</header>



<style>
  header {
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) minmax(0, max-content) minmax(
        0,
        max-content
      );
  }
</style>
