---
import HeaderLink from "./HeaderLink.astro";
import DarkModeToggle from "./DarkModeToggle.astro";
---

<header>
  <a
    class="unset absolute z-10 left-[50%] -top-[100rem] translate-x-[-50%] bg-white text-black px-8 py-2 focus:top-[initial]"
    href="#main"
  >
    Skip to content
  </a>
  <nav>
    <section class="text-text-bold">
      <ul class="unset flex gap-4 [&>li]:p-0">
        <li><HeaderLink href="/">Home</HeaderLink></li>
        <li><HeaderLink href="/blog">Blog</HeaderLink></li>
      </ul>
    </section>
  </nav>
  <div
    class="max-[350px]:hidden justify-self-end py-2 flex items-center content-center text-text-bold"
  >
    <a
      class="unset text-xl ml-4 rounded-sm hover:text-text-link"
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.linkedin.com/in/marco-garujo-16a50a14a/"
    >
    <i class="fa-brands fa-linkedin-in" title="My Linkedin Link"></i>
    <span class="fa-sr-only">My LinkedIn</span>
    </a>

    <a
      class="unset text-xl ml-4 hover:text-text-link"
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/MarcoCangela"
    >
      <i class="fa-brands fa-github" aria-hidden="true" title="My GitHub"></i>
      <span class="fa-sr-only">My GitHub</span>
    </a>
  </div>

  <DarkModeToggle />
</header>
<style>
  header {
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) minmax(0, max-content) minmax(
        0,
        max-content
      );
  }
  svg {
  display: inline-block;
  width: 20.594px; /* Ensure it can expand */
  height: 29.750px; /* Ensure it renders properly */
  font-size: 1.5rem; /* Adjust icon size */
  background-color: white; /* Optional: LinkedIn blue */

}
</style>
