---
import HeaderLink from "./HeaderLink.astro";
import DarkModeToggle from "./DarkModeToggle.astro";
---

<header>
  <a
    class="unset absolute z-10 left-[50%] -top-[100rem] translate-x-[-50%] bg-white text-black px-8 py-2 focus:top-[initial]"
    href="#main"
  >
    Skip to content
  </a>
  <nav>
    <section class="text-text-bold">
      <ul class="unset flex gap-4 [&>li]:p-0">
        <li><HeaderLink href="/">Home</HeaderLink></li>
        <li><HeaderLink href="/blog">Blog</HeaderLink></li>
      </ul>
    </section>
  </nav>
  <div
    class="max-[350px]:hidden justify-self-end py-2 flex items-center content-center text-text-bold"
  >
    <a
      class="unset text-xl ml-4 hover:text-text-link"
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.linkedin.com/in/marco-garujo-16a50a14a/"
    >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.<path d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z"/></svg>    
    <span class="fa-sr-only">My LinkedIn</span>
    </a>

    <a
      class="unset text-xl ml-4 hover:text-text-link"
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/MarcoCangela"
    >
      <i class="fa-brands fa-github" aria-hidden="true" title="My GitHub"></i>
      <span class="fa-sr-only">My GitHub</span>
    </a>
  </div>

  <DarkModeToggle />
</header>
<style>
  header {
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) minmax(0, max-content) minmax(
        0,
        max-content
      );
  }
  svg {
  display: inline-block;
  width: 20.594px; /* Ensure it can expand */
  height: 29.750px; /* Ensure it renders properly */
  font-size: 1.5rem; /* Adjust icon size */
  background-color: white; /* Optional: LinkedIn blue */

}
</style>
