---
---

<!-- <img src="https://media.giphy.com/media/M9gbBd9nbDrOTu1Mqx/giphy.gif" width="100"/> -->

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden">
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent">
        Marco Garujo
      </span>
    </h1>
    <p class="text-1xl pb-4">Software Quality Engineer.</p>
  </div>
  <div>
    <p class="mb-5 text-justify">
      Hello! 
      👋 I am Marco Garujo and welcome to my personal website.  </br>
      I am excited to have you here, and I hope you find the content both interesting and insightful. </br>
      This site is a reflection of my journey in the world of IT, with a particular focus on Quality Assurance (QA). Everything shared here is drawn from my hands on experience, 
      as well as the knowledge I've gained through both worh and study in this ever-evolving field. 
      I'm always eager to grow, learn, and refine my skills. If you believe we can collaborate, or if you have any insights or opportunities to share, don't hesitate to get in touch!
      You can find my social links in the header. </br>
    </p>

  </div>
</section>
<div style="display: flex; align-items: center; justify-content: center;">
  <img alt="Hello World" src="https://media.giphy.com/media/M9gbBd9nbDrOTu1Mqx/giphy.gif" width="100"/>
</div>

