---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Marco Garujo
      </span>
    </h1>
    <p class="text-2xl pb-4">Software Quality Engineer. Aspirant Blogger.</p>
  </div>
  <div>
    <p class="mb-5">
      Hello! My name is Marco and this is my personal website.
      Welcome!  I hope you find this interesting. If you think I'm going to introduce myself, you're mistaken. 😊 </br>
      Everything you find here is beased on my personal experience and what I have learned through working and studying this amazing field of IT with a focus on QA. </br>
      I am always looking for opportunities to learn and develop my skills, if you think you can help or want to contribute do not hesitate to contact me. 
      My socials are in the header.

    </p>

  </div>
</section>
