---
---

<!-- <img src="https://media.giphy.com/media/M9gbBd9nbDrOTu1Mqx/giphy.gif" width="100"/> -->

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden">
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent">
        Marco Garujo
      </span>
    </h1>
    <p class="text-1xl pb-4">Software Quality Engineer.</p>
  </div>
  <div>
    <p class="mb-5 text-justify">
      Hello! 👋 </br>
      I am Marco Garujo and welcome to my personal website.  </br>
      Hi, and welcome! I’m a passionate QA professional with three years of experience in ensuring software quality and reliability. My expertise spans Web, Desktop, and Mobile applications, where I’ve worked alongside teams to create seamless, user-friendly Software Products.
      I bring a collaborative and strategic approach to QA, backed by hands-on experience in Agile environments. With a solid understanding of the Software Testing Life Cycle (STLC) and Software Development Life Cycle (SDLC), I contribute effectively to every phase of development, from planning and design to execution and delivery.
      My skill set includes Manual Testing, QA Automation using tools like Playwright, JMeter, Cypress, and API testing to ensure comprehensive coverage and robust performance. I focus on streamlining processes, reducing costs, and enhancing testing efficiency without compromising quality.
      To me, quality assurance goes beyond just identifying issues; it’s about fostering a culture of excellence and empowering teams to build software that makes an impact. Whether it’s improving test coverage, solving complex problems, or ensuring smooth integrations, I’m committed to delivering results that exceed expectations.
    </br>
      If you’re looking for a detail-oriented, team-focused professional dedicated to driving quality and innovation, let’s connect and build something amazing together!
 </br>
    </p>

  </div>
</section>
<div style="display: flex; align-items: center; justify-content: center;">
  <img alt="Hello World" src="https://media.giphy.com/media/M9gbBd9nbDrOTu1Mqx/giphy.gif" width="100"/>
</div>

